# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.env
.env.local
.env.*.local
artifacts/
package-lock.json
dist
dist-ssr
*.local
.env
version.json

# Editor directories and files
.cursor/nal-trace
.cursor/chats.json
.cursor/settings.json
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env*.local
package-lock.json

# Tauri
src-tauri/target
src-tauri/apple.p8


core
